{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>About Blog</h1>
    </div>
    <div class="row">
        <h2> Your Mission</h2>
    </div>
    <div class="row">
        <p style="text-align: justify;">
            You don’t need to outright say, “our mission is ____,” but you should convey the mission of your business in your About Us copy. This is key for attracting talent, as well as leads that have Corporate Social Responsibility (CSR) goals.
        </p>
    </div>
    <div class="row">
        <h2> Your Story (History)</h2>
    </div>
    <div class="row">
        <p style="text-align: justify;">
            Every business has an origin story worth telling, and usually, one that justifies why you even do business and have clients.
        </p>
        <p style="text-align: justify;">
            Some centennial enterprises have pages of content that can fit in this section, while startups can tell the story of how the company was born, its challenges, and its vision for the future.
        </p>
    </div>
    <div class="row">
        <h2> Your Services (And Benefits)</h2>
    </div>
    <div class="row">
        <p style="text-align: justify;">
            Of course, you have a homepage and dedicated pages for your products, but summarizing your offerings on the About Us page is crucial to tie them in with brand values in your messaging.
            Highlight the benefits and showcase what you do (and why it is unique).
        </p>
    </div>
    <div class="row">
        <h2> Your Social Proof</h2>
    </div>
    <div class="row">
        <p style="text-align: justify;">
            Reviews, client logos, case studies, and results bring consistency to your About Us page. It’s what really proves what you are saying is real and the impact you can bring to future clients.
            With these components in mind, you will have a framework from which to build an engaging and unique About Us page.
            However, if you are looking for some inspiration, the 25 examples below will guide your creative process.
        </p>
    </div>
</div>

{% endblock content %}