{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <div class="media">
        <img class="rounded-circle account-img" style="width: 75px; height: auto;" src="{{ author.image.url }}">
        <div class="media-body center">
            <h3 class="">Welcome back, {{ author.name }}!</h4>
        </div>
        </div>
    </div>
    <div class="mb-3">
        <!-- Link to be attached for the new post -->
        <a href="/post/new/" style="text-decoration: none;"><button class="btn btn-primary">Create New Post ></button></a>
    </div>
    <div class="container content-section px-5">
        <div class="row">
            <center>
                <h1>Your Posts</h1>
            </center>
        </div>
        {% for post in posts %}
        <div class="container p-4 mb-3 shadow-sm p-3 mb-2 bg-body rounded" style="background-color: white; border-radius: 5px; border-width: 10px !important; border-color: black;">
        <div class="row">
            <a href="{% url 'post-detail' post.id %}"><img src="{{ post.header_image.url }}" alt="" style="max-width: 600px; max-height: 400px; "></a>
        </div>
        <div class="row">
            <a href="{% url 'post-detail' post.id %}" style="text-decoration: none;"><h3>{{ post.title }}</h3></a>
            <small>by {{ post.author_id.name }}, {{ post.date_posted|date:"F d, Y" }} </small>
            <span maxlength="30" >{{ post.content }}...<a href="{% url 'post-detail' post.id %}">Read More</a></span>
        </div>
        </div>
        {% endfor %}
    </div>

{% endblock content %}